
<style>
    #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
    #sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
    html>body #sortable li { height: 1.5em; line-height: 1.2em; }
</style>

<% issue_cfs = CustomField.where("type= 'IssueCustomField' and field_format in ('string') ")  %>
<p>
    <ul id="sortable">
      <% issue_cfs.each do |issue_cf| %>
          <li class="ui-state-default check_box">
            <%= check_box_tag("settings[#{issue_cf.name}]", true, @settings[issue_cf.name]) %>
            <%= issue_cf.name %>
          </li>
      <% end  %>
    </ul>
</p>

<p>
  <label>auto add globally:</label>
  <%= select_tag "settings[auto_increment_globally]",
                 options_for_select([[true, true],[false, false]], @settings['auto_increment_globally']||true) %>
</p>

<p>
    <ul id="sortable">
        <li class="ui-state-default check_box">
          <%= check_box_tag("settings[auto_add_uniquness]", true, @settings['auto_add_uniquness']) %> auto add uniquness.
        </li>
    </ul>
</p>
